<launch>
  <param name="use_sim_time" value="true"/>

  <node pkg="tf" type="static_transform_publisher" name="world_to_cam" 
    args="0 0 0.5 -1.57 0 -1.57 world camera 1" />

  <?ignore
  <node pkg="image_view" type="image_view" name="image_view" args="image:=/camera/image_raw _image_transport:=compressed">
      <param name="autosize" type="boolean" value="true"/>
  </node>
  ?>

  <node pkg="rviz" type="rviz" name="rviz"
    args="-d $(find ar_pose)/demo/demo_single.rviz"/>

  <node pkg="rosbag" type="play" name="rosbag" 
    args="-l $(find cassandra_ros)/data/rosbag/sync_marker_image.bag --clock -d 3"/>
  
  <node pkg="topic_tools" type="relay" name="relay_marker"
    args ="/sync_marker /visualization_marker" />
  <node pkg="topic_tools" type="relay" name="relay_image"
    args ="/sync_image /camera/image_rect" />

  <?ignore
  TODO: agregar ROSBag que grabe para verificación posterior
  TODO: agregar proceso que detecta marcadores publicados por ar_pose, busca imagen correspondiente de /cam/image_rect y los
        guarda en Cassandra, usando Cassandra_ROS
  ?>

</launch>

