<launch>
  <include file="$(find cassandra_ros)/launch/cassandraBag.launch" />
  
	<node pkg="cassandra_ros" type="cassandraBag-cli.py" name="cassandraBag_cli1" 
    args="play start /camera/image_raw/compressed /camera/camera_info /camera/image_rect /camera/image_raw"/>
  
  <node pkg="image_view" type="image_view" name="image_view" 
    args="image:=/camera/image_raw _image_transport:=compressed">
    <param name="autosize" type="boolean" value="true"/>
  </node>

</launch>
